.header {
    display: flex;
    align-items: center;

    > a {
        color: #fff;
        margin: 10px;
        transition: color 0.4s ease-in-out;
    }
    & .active {
        color: blue;
    }
}
